<h1>New Payment</h1>

<%= render 'form', payment: @payment %>

<% if !params[:loan_id].nil? %>
  <%= link_to 'Back', loan_path(params[:loan_id]) %> |
<% end %>
<%= link_to 'Back to all Payments', payments_path %>
