// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#summary_box {
  float:left;
}

#shortcut_box {
  float:right;
}

.active_loan_list {
  float:left;
  width:50%;
}

#most_recent_payments {
  clear:both;
  width: 100%;
}