<h1>New Scheduled Payment</h1>

<%= render 'form', scheduled_payment: @scheduled_payment %>

<% if !params[:loan_id].nil? %>
  <%= link_to 'Back', loan_path(params[:loan_id]) %> |
<% end %>
<%= link_to 'Back to all scheduled payments', scheduled_payments_path %>
